/*Style for pages: Authorization 1-2*/
.m_auth, .search, .result, .grant{
  background: url(../../img/background_ma.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;


    @media (max-width:1366px) {
      width: 1180px;
    }

    @media (max-width:1200px) {
      width: 980px;
    }

    @media (max-width:1040px) {
      width: 868px;
    }

    @media (max-width:900px) {
      width: 768px;
    }

    @media (max-width:800px) {
      width: 568px;
    }
    .icon {
      width: 457px;
      height: 394px;
    }
  }

  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;

  margin-top: 55px;

  input {
    width: 352px;
    height: 52px;

    background: #FBFBFB;
    border: 2px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 8px;

    margin-bottom: 12px;
  }

  input[type="submit"] {
    cursor: pointer;
    background: #3DBF0F;
    box-shadow: 4.28178px 4.28178px 21.4089px #D2FFC2;
    border-radius: 8px;
    border: none;

    color: white;

    margin-top: 24px;
  }
  button{
    width: 352px;
    height: 52px;

    cursor: pointer;
    background: #3DBF0F;
    box-shadow: 4.28178px 4.28178px 21.4089px #D2FFC2;
    border-radius: 8px;
    border: none;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;

    margin-top: 24px;

    span{
      margin-left: 20px;
    }
  }
}

.step2 {
  flex-direction: row;

  margin-top: 36px;
  margin-bottom: 19px;
  input {
    margin-top: 26px;

    &:first-child{
      margin-right: 12px;
    }
  }
  .code{
    margin-left: 68px;
  }
}