/*Style for all pages*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

html, body {
  //height: 100%;
  padding: 0;
  margin: 0;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #606060;
}

input[placeholder] {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;

  color: #606060;

  @media (max-width:600px) {
    font-size: 26px;
  }

  @media (max-width:600px) {
    font-size: 18px;
  }
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;

  color: #606060;

  @media (max-width:600px) {
    font-size: 24px;
  }

  @media (max-width:600px) {
    font-size: 17px;
  }
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #606060;
}

h4{
  font-family:  'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #3DBF0F;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 147%;

  color: #606060;
}

a{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20.9028px;
  line-height: 25px;
  text-decoration: none;

  color: #606060;
}

.forgot {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #969696;

  margin-top: 15px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-space-between{
  justify-content: space-between;
}

.flex-middle{
  align-items: center;
}

.flex-top{
  align-items: flex-start;
}


button{
  height: 52px;

  cursor: pointer;
  background: #3DBF0F;
  box-shadow: 4.28178px 4.28178px 21.4089px #D2FFC2;
  border-radius: 8px;
  border: none;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;

}

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  width: 100%;

  padding: 45px 45px 0px 45px;
  font-size: 25px;

  z-index: 999;

  @media (max-width:600px) {
    padding: 30px 30px 0px 30px;
  }


  @media (max-width:480px) {
    padding: 15px 15px 0px 15px;
  }


  .out {
    margin-left: 40px;
  }
  a {
    cursor: pointer;
  }

  #toggle {
    width: 27px;
    height: 23px;
    margin: 10px auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;

    z-index: 999;
    .two {
      width: 11px;
    }
  }

  #toggle div {
    width: 100%;
    height: 3px;
    background: #606060;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
    margin: 0;


  }

  #toggle{
    &:hover{
      div{
        background: black;
      }
    }
  }

  #toggle.on .one {
    transform: rotate(45deg) translate(6px, 6px);
  }

  #toggle.on .two {
    opacity: 0;
  }

  #toggle.on .three {
    transform: rotate(-45deg) translate(8px, -8px);
  }


}

#menu {
  position: absolute;
  width: 420px;
  height: 100%;

  transition: all 0.5s;

  left: 0px;
  top: 0px;

  padding-left: 22px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: #FFFFFF;

  overflow: hidden;

  z-index: 998;

  transition: all 0.5s;

  @media (max-width:800px) {
    width: 100%;
    padding-bottom: 30px;
    position: fixed;
    overflow-y: auto;
  }
  @media (max-height:600px) {
    position: fixed;
  }
  .logo_block{
    margin-top: 100px;
  }
  .logo{
    width: 62px;
    height: 76.51px;
    background: url("../../img/menu_logo.png");
    margin-right: 17px;
  }

  .menu_list{
    margin-top: 63px;

    @media (max-height:600px) {
      margin-top: 23px;
    }
    ul{
      list-style: none;
      margin: 0 0  0 18px;
      padding: 0px;
      li{
        margin-top: 40px;

        @media (max-height:600px) {
          margin-top: 10px;
        }
        span{
          font-size: 21px;
          margin-right: 45px;
        }
      }
    }
  }
}

.hidden{
  transition: all 0.5s;
  display: none!important;
  width: 0px!important;
}

.overflow_hidden{
  overflow: hidden;
}


//icon hover

.reminder, .out{
  &:hover{
    .icon-vector:before, .icon-out:before{
      color: black;
    }


  }
}
