/*Style for search page*/
.search{
  @media (max-width:800px) {
    //height: auto;
  }

  form{
    margin-top: 0;
  }
  button{
    margin-left: 20px;
    margin-top: 0;
    transition: all 0.5s;
    &:hover{
      font-size: 20px;
    }

    @media (max-width:1080px) {
      width: 225px;

      font-size: 16px;

      &:hover{
        font-size: 18px;
      }
    }
  }

  .content{
    justify-content: flex-start;
    padding-top: 370px;

    @media (max-width:800px) {
      padding-top: 270px;

    }


    @media (max-height:678px) {
      padding-top: 110px;

    }

    .search{
      background: none;
    }

  }
}

select{
  width: 627px;
  height: 52px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 10px rgba(94, 94, 94, 0.1);
  border-radius: 9px;

  @media (max-width:1080px) {
    width: 427px;

  }
  @media (max-width:1080px) {
    width: 327px;

  }

}