@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bnzre4');
  src:  url('fonts/icomoon.eot?bnzre4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bnzre4') format('truetype'),
    url('fonts/icomoon.woff?bnzre4') format('woff'),
    url('fonts/icomoon.svg?bnzre4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-white:before {
  content: "\e96c";
  color: #fff;
}
.icon-vector:before {
  content: "\e96b";
  color: #606060;
}
.icon-amplification:before {
  content: "\e956";
  color: #3dbf0f;
}
.icon-business-briefcase:before {
  content: "\e957";
  color: #3dbf0f;
}
.icon-cloud-up-arrow:before {
  content: "\e958";
  color: #dedede;
}
.icon-dollar:before {
  content: "\e959";
  color: #3dbf0f;
}
.icon-door-key:before {
  content: "\e95a";
  color: #3dbf0f;
}
.icon-heart:before {
  content: "\e95b";
  color: #3dbf0f;
}
.icon-hierarchy:before {
  content: "\e95c";
  color: #3dbf0f;
}
.icon-info-sign:before {
  content: "\e95d";
  color: #606060;
}
.icon-medal:before {
  content: "\e95e";
  color: #3dbf0f;
}
.icon-musica-searcher:before {
  content: "\e960";
  color: #606060;
}
.icon-option:before {
  content: "\e961";
  color: #606060;
}
.icon-out:before {
  content: "\e962";
  color: #606060;
}
.icon-pencil:before {
  content: "\e963";
  color: #a2a2a2;
}
.icon-reading-sign:before {
  content: "\e964";
  color: #3dbf0f;
}
.icon-star:before {
  content: "\e965";
  color: #606060;
}
.icon-time:before {
  content: "\e966";
  color: #ff6f6f;
}
.icon-tor:before {
  content: "\e967";
  color: #3dbf0f;
}
.icon-Union:before {
  content: "\e968";
  color: #ffb9b9;
}
.icon-video-camera-1:before {
  content: "\e969";
  color: #3dbf0f;
}
.icon-white-board:before {
  content: "\e96a";
  color: #3dbf0f;
}
.icon-android:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-people:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-top:before {
  content: "\e905";
}
.icon-atoms:before {
  content: "\e906";
}
.icon-audience:before {
  content: "\e907";
}
.icon-bigben:before {
  content: "\e908";
}
.icon-binary:before {
  content: "\e909";
}
.icon-blank:before {
  content: "\e90a";
}
.icon-blog:before {
  content: "\e90b";
}
.icon-bottom:before {
  content: "\e90c";
}
.icon-businessman:before {
  content: "\e90d";
}
.icon-c:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-calendar-clock:before {
  content: "\e910";
}
.icon-city:before {
  content: "\e911";
}
.icon-clock:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e913";
}
.icon-code:before {
  content: "\e914";
}
.icon-codeman:before {
  content: "\e915";
}
.icon-community:before {
  content: "\e916";
}
.icon-copy:before {
  content: "\e917";
}
.icon-csharp:before {
  content: "\e918";
}
.icon-dedent:before {
  content: "\e919";
}
.icon-desktop-monitor:before {
  content: "\e91a";
}
.icon-diagram:before {
  content: "\e91b";
}
.icon-document:before {
  content: "\e91c";
}
.icon-envelope:before {
  content: "\e91d";
}
.icon-facebook:before {
  content: "\e91e";
}
.icon-farbs:before {
  content: "\e91f";
}
.icon-folder:before {
  content: "\e920";
}
.icon-go-to-work:before {
  content: "\e921";
}
.icon-grow-up:before {
  content: "\e922";
}
.icon-hi-from-pc:before {
  content: "\e923";
}
.icon-html5:before {
  content: "\e924";
}
.icon-information:before {
  content: "\e925";
}
.icon-instagram:before {
  content: "\e926";
}
.icon-java:before {
  content: "\e927";
}
.icon-java-phone:before {
  content: "\e928";
}
.icon-js:before {
  content: "\e929";
}
.icon-kh:before {
  content: "\e92a";
}
.icon-layers:before {
  content: "\e92b";
}
.icon-lector:before {
  content: "\e92c";
}
.icon-left:before {
  content: "\e92d";
}
.icon-lesson:before {
  content: "\e92e";
}
.icon-linkedin:before {
  content: "\e92f";
}
.icon-location:before {
  content: "\e930";
}
.icon-magic-wand:before {
  content: "\e931";
}
.icon-man-check:before {
  content: "\e932";
}
.icon-man-pc:before {
  content: "\e933";
}
.icon-man-table:before {
  content: "\e934";
}
.icon-man-with-computer:before {
  content: "\e935";
}
.icon-monitor:before {
  content: "\e936";
}
.icon-multiple-users:before {
  content: "\e937";
}
.icon-mustache:before {
  content: "\e938";
}
.icon-pallete:before {
  content: "\e939";
}
.icon-partners:before {
  content: "\e93a";
}
.icon-pazzles:before {
  content: "\e93b";
}
.icon-photo-camera:before {
  content: "\e93c";
}
.icon-php:before {
  content: "\e93d";
}
.icon-pl:before {
  content: "\e93e";
}
.icon-plus:before {
  content: "\e93f";
}
.icon-register:before {
  content: "\e940";
}
.icon-right:before {
  content: "\e941";
}
.icon-robot-book:before {
  content: "\e942";
}
.icon-search-brain:before {
  content: "\e943";
}
.icon-search-site:before {
  content: "\e944";
}
.icon-shemes:before {
  content: "\e945";
}
.icon-smartphone:before {
  content: "\e946";
}
.icon-speech-chat:before {
  content: "\e947";
}
.icon-startup:before {
  content: "\e948";
}
.icon-steps:before {
  content: "\e949";
}
.icon-study:before {
  content: "\e94a";
}
.icon-tag:before {
  content: "\e94b";
}
.icon-teacher-students:before {
  content: "\e94c";
}
.icon-telegram:before {
  content: "\e94d";
}
.icon-top:before {
  content: "\e94e";
}
.icon-user:before {
  content: "\e94f";
}
.icon-user-profile:before {
  content: "\e950";
}
.icon-users:before {
  content: "\e951";
}
.icon-vk:before {
  content: "\e952";
}
.icon-wallet:before {
  content: "\e953";
}
.icon-ways:before {
  content: "\e954";
}
.icon-youtube:before {
  content: "\e955";
}
.icon-star-empty:before {
  content: "\e9d7";
}
