/*Style for custom scroll*/

.custom-scroll_container {
  overflow: hidden !important;
  position: relative;
}

.custom-scroll_inner {
  overflow: scroll;
  height: 100%;
  *position: absolute; /* ie7 fix */
  *left: 0;
  *right: 0;
  width: 100%;
}
.custom-scroll_inner::-webkit-scrollbar { width: 0; height: 0; }
.custom-scroll_inner{ -ms-overflow-style: none; }


.custom-scroll_bar-y,
.custom-scroll_bar-x {
  cursor: default;
  position: absolute;
  border-radius: 1px;
  z-index: 1;
  background: #D9D9D9;
  opacity: .8;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  transition: opacity .2s;
}
.custom-scroll_bar-y {
  top: 0;
  right: 1px;
  width: 3px;
}
.custom-scroll_bar-x {
  left: 0;
  bottom: 1px;
  height: 8px;
  display: none;
}

.custom-scroll_bar-y:hover,
.custom-scroll_bar-x:hover {
  opacity: .7;
}
.custom-scroll_bar-y:active,
.custom-scroll_bar-x:active {
  opacity: 1;
}

.custom-scroll_hidden-y > .custom-scroll_bar-y,
.custom-scroll_hidden-x > .custom-scroll_bar-x {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility step-end .3s;
}


.custom-scroll-pretty_track-y,
.custom-scroll-pretty_track-x {
  position: absolute;
  background: #eee;
  border-radius: 5px;
  box-shadow: inset 0 0 4px rgba(0,0,0,.1);
  transition: box-shadow .3s;
}
.custom-scroll-pretty_track-y {
  top: 0;
  right: 0;
  width: 10px;
  bottom: 10px;
}


//select scroll



/*Chosen style*/
.chosen-wrapper{
  margin:0 auto 25px;
  width: 627px;
  position:relative;

  @media (max-width:1080px) {
    width: 427px;
  }
  @media (max-width:1080px) {
    width: 327px;

  }
  &:after{
    pointer-events: none;
    content: url("../../img/arrow_search.png");
    position: absolute;
    top: 23px;
    right: 20px;
    width: 17px;
    height: 11px;
    //border-left: 6px solid transparent;
    //border-right: 6px solid transparent;
    //border-top: 8px solid rgba(0,0,0,.5);
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
    z-index: 9;
  }
  &.is-active{
    &:after{
      //border-top: 8px solid rgba(0,0,0,1);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  .chosen-container{
    .chosen-single{
      display: block;
      width: 567px;
      height: 22px;
      background: #FFFFFF;
      box-shadow: inset 0px 4px 10px rgba(94, 94, 94, 0.1);
      border-radius: 9px;
      color: #3DBF0F;
      background:#fff;
      padding:  15px 30px;

      cursor: pointer;

      @media (max-width:1080px) {
        width: 387px;
        padding:  15px 20px;
      }
      @media (max-width:1080px) {
        width: 287px;

      }

      b{
        display:none !important;
      }
      span{
        letter-spacing: 0;
        padding: 0;
        line-height: inherit;
      }
    }
    .is-active{
      .chosen-single{
        border: none;
      }


    }
    &.chosen-with-drop{
      .chosen-single{
        border-width: 2px 2px 1px;
        border-color: #000  #000 #d9d9d9;
        color: #000;
        background-image:none;
      }
      .chosen-drop{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);

      }
      .scroll_content{
        border-radius: 8px;
        box-shadow: -4px -4px 30px rgba(0, 0, 0, 0.05);
        background: white;
        padding: 17px 30px 30px 30px;
        height: 340px;

        opacity: 1;
        visibility: visible;
        transform: translateY(0);

        @media (max-width:1080px) {
          height: 240px;
        }

        @media (max-height:678px) {
          height: 120px;

        }

      }
    }
    &.chosen-container-single-nosearch{
      .chosen-search{
        display:none;
      }
    }
    .scroll_content{
      -webkit-transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -o-transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      opacity:0;
    }
    .chosen-drop{
      letter-spacing: 0;
      border-radius: 0;
      box-shadow: none;
      border-width: 0 2px 2px;
      border-color: #000;
      margin-top:0;
      -webkit-transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -o-transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      opacity:0;
      background: white;

      padding: 0;
      height: 340px;

      @media (max-width:1080px) {
        height: 240px;
      }

      @media (max-height:678px) {
        height: 120px;

      }
    }
    .chosen-results{
      font-size: 22px;
      color: #000;
      list-style: none;
      box-sizing: border-box;
      background: white;
      border-radius: 8px;
      //max-height: 245px;
      margin:0;
      padding: 0px 25px 30px 0px;
      li{
        padding: 16px 0px 18px;
        margin: 0;
        border-bottom: 1px solid #F9F9F9;;
        -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        line-height:20px;
        cursor: pointer;

        font-family: "Montserrat",sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        &.highlighted {
          //background-color: #eeeeee !important;
          color: #3dbf0f;
          background-image:none;
        }
      }
    }
  }
  &--style2{
    &:after{
      right:0;
    }
    &:before{
      content:'';
      width:0;
      border-top:2px solid #000;
      position:absolute;
      left:0;
      bottom:0;
      z-index:1;
      transition: all 0.2s cubic-bezier(.06,1,.89,.85);
    }
    &.is-active{
      &:before{
        width:100%;
      }
    }
    .chosen-container{
      .chosen-single{
        border-width:0 0 2px;
        padding:0;
      }
      &.chosen-with-drop{
        .chosen-single{
          border-width: 0 0 2px;
        }
        .chosen-drop{
          opacity: 1;
          visibility: visible;
          transform: translateY(5px);
        }
      }
      .chosen-drop{
        border-color:#d9d9d9;
        border-top: 2px solid #d9d9d9;
      }
      .chosen-results{
        li{
          padding: 16px 15px 18px;
        }
      }
    }
  }
}




/*ScrollBox style*/
.nicescroll-rails{
  border-left: 1px solid #d9d9d9;
  transform: translate(-2px);
  top:0 !important;
  right: 0px!important;
  .nicescroll-cursors{
    width:6px !important;
    margin-right:0px;
    right: -2px;

    border-radius: 8px!important;
  }
}

.link{
  position:absolute;
  left:0;
  bottom:0;
  padding:20px;
  a{
    display:flex;
    align-items:center;
    text-decoration:none;
    color:#000;
  }
  .fa{
    font-size:28px;
    margin-right:8px;
    color:#000;
  }
}
.nicescroll-rails-hr{
  display: none!important;
  opacity: 0!important;
}

