/*Style for pages: Search result, My grants*/


.result, .grant {
  background: url(../../img/background_re.jpg);
  justify-content: center;
  background-size: cover;
  @media (max-height:800px) {
    height: auto;
    overflow-y: auto;

  }
  .content {
    box-sizing: border-box;
    padding: 130px 0;
    width: 1280px;

    @media (max-width:1366px) {
      width: 1180px;
    }

    @media (max-width:1200px) {
      width: 980px;
    }

    @media (max-width:1040px) {
      width: 868px;
    }

    @media (max-width:900px) {
      width: 768px;
    }

    @media (max-width:800px) {
      width: 568px;
    }

    @media (max-width:600px) {
      width: 100%;
      padding: 30px;
      padding-top: 50px;

      justify-content: flex-start;
    }

    @media (max-width:480px) {
      padding: 15px ;
      padding-top: 50px;

      justify-content: flex-start;
    }


  }

  h4 {
    margin: 0px;
  }

  button {
    width: 325px;

    margin-top: 77px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:600px) {
      height: 42px;
      width: 225px;

      margin-top: 15px;
    }

    span {
      position: absolute;
      left: 15px;

      transition: all 0.5s;
    }

    &:hover{
      span{
        left: 5px;
      }

    }
  }

  form {
    margin: 0;

    select {
      width: 135px;
      height: 25px;

      border: none;
      background: rgba(255, 255, 255, 0);

      box-shadow: none;

      font-weight: 300;
      font-size: 14px;
      line-height: 17px;

      color: #4E4E4E;
    }
  }
}

.grants_content {
  height: 480px;
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 15px;

  @media (max-width:1366px) {
    width: 1180px;
  }

  @media (max-width:1200px) {
    width: 980px;
  }

  @media (max-width:1040px) {
    width: 868px;
  }

  @media (max-width:900px) {
    width: 768px;
  }

  @media (max-width:800px) {
    width: 568px;
  }

  @media (max-width:600px) {
    width: 100%;


  }

  .single_grant {
    display: flex;
    justify-content: space-between;

    width: 31%;
    height: 100px;

    margin-bottom: 20px;
    margin-top: 20px;

    @media (max-width:1200px) {
      width: 48%;
    }
    @media (max-width:800px) {
      width: 98%;
    }

    .g_img {
      display: block;
      height: 100px;
      width: 100px;

      border-radius: 8px;
    }

    a {
      font-size: 14px;
      line-height: 20px;
    }

    .g_info {
      width: fit-content;
      margin-left: 15px;
      width: calc(100% - 115px);
    }


  }

}

.g_category {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #747474;
}

.g_time {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;

  color: #747474;
}

.custom-scroll_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 20px !important;
}

.my_grants_sort {
  display: flex;
  align-items: center;

  margin-bottom: 28px;
  a {
    font-weight: 500;
    font-size: 22.7701px;
    line-height: 28px;

    color: #3DBF0F;

    margin-right: 50px;
  }
  a.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 52px;
    color: white;
    background: #3DBF0F;
    border-radius: 8px;
  }
}