/*Style for pages: Single grant*/
.grant{
  height: auto;
  background-size: cover;
  overflow-y: auto;
  .content{
    align-items: flex-start;

    @media (max-width:1200px) {
      justify-content: flex-start;
    }
  }

  h2{
    margin-top: 0px;

    @media (max-width:1200px) {
      margin-top: 25px;
    }
  }

  p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    color: #606060;
  }

}
.grant_content{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width:1200px) {
    display: flex;
    flex-wrap: wrap;
  }

  .right_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    @media (max-width:1200px) {
      width: 100%;
    }

    @media (max-width:600px) {
      .flex.flex-column{
        width: 100%;
      }
    }

    span{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 29.5143px;
      line-height: 147%;



      color: #606060;

      @media (max-width:600px) {
        font-size: 16px;
      }

    }
    .g_category, .g_time{
      margin-top: 20px;
      display: flex;
      align-items: center;
      font-size: 16px;

      @media (max-width:600px) {
        font-size: 12px;
      }
      span{
        margin-right: 15px;
        font-size: 16px;
      }
    }

    .partner_logo{
      margin-top: 20px;
    }
  }
  .left_content{
    display: flex;
    flex-direction: column;
    margin-left: 120px;

    @media (max-width:1200px) {
      width: 100%;
      margin: 0;
    }

    .info_grant{
      height: 460px;
      padding-right: 100px!important;

      @media (max-width:1200px) {
        height: auto;
        max-height: 250px;
      }

      @media (max-width:600px) {
        padding-right: 0px!important;
      }
    }
  }

  .img_grant{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 460px;
    height: 280px;
    border-radius: 19px;

    margin-bottom: 20px;


    @media (max-width:600px) {
      width: 100%;
    }
  }
}

.btn_grant{
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width:600px) {
    flex-wrap: wrap;

    button{
      font-size: 15px;
    }
  }

  .back_result{
    border: 2px solid #3DBF0F;
    box-sizing: border-box;
    border-radius: 8px;

    box-shadow: none;

    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #3DBF0F;

    background: rgba(255, 255, 255, 0);

    @media (max-width:600px) {
      order: 1;
      font-size: 15px;
    }

    &:hover{
      color: white;
      background: #3DBF0F;
      .icon-arrow-left:before{
        color: white;
      }
    }
  }

  .submite{
    width: 242px;
    transition: all 0.5s;


    @media (max-width:600px) {
      width: 225px;
    }

    &:hover{
      font-size: 20px;
    }
  }

  .like{
    box-shadow: none;
    color: #3DBF0F;

    width: auto;
    height: auto;
    background: none;

    margin-right: 25px;

    @media (max-width:600px) {
      margin-right: 15px;
    }
    span{
      position: relative;
      left: 0;
      margin-right: 15px;

      font-size: 32px;
    }
  }
}

.btn_favorite{
  display: flex;
  @media (max-width:600px) {
    order: 0;
    flex-wrap: wrap;
  }
}
